<!DOCTYPE html>
<html>

<head>
    <title>Complete Profile</title>

    <style>
        body {
            font-family: Arial;
            background: linear-gradient(120deg, #020617, #0f172a);
            color: white;
        }

        .box {
            width: 400px;
            margin: 60px auto;
            padding: 30px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 10px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: none;
        }
    </style>
</head>

<body>

    <div class="box">
        <h2>Complete Student Profile</h2>

        <form method="POST">

            <input type="text" name="department" value="{{ student.department if student else '' }}"
                placeholder="Department" required>

            <input type="number" step="0.01" name="cgpa" value="{{ student.cgpa if student else '' }}"
                placeholder="CGPA" required>

            <input type="text" name="resume" value="{{ student.resume if student else '' }}" placeholder="Resume Link">

            <button type="submit">Save Profile</button>

        </form>
    </div>

</body>

</html>