{% extends "base.html" %}
{% block title %}create comapny ofle{% endblock %}


{% block content %}
<div class="box">

    <h2>Complete Company Profile</h2>

    <form  action="/complete-company-profile" method="POST">

        <input type="text" name="company_name" placeholder="Company Name">

        <input type="text" name="industry" placeholder="Industry">

        <input type="text" name="website" placeholder="Website">

        <input type="text" name="location" placeholder="Location">

        <input type="text" name="company_size" placeholder="Company Size">


        <button type="submit">Save Profile</button>

    </form>

</div>

{% endblock %}